.WordBreak {
    word-break: break-all;
  }

.UnFollowBtn{
  border: none;
  background-color: #479b78;
  color: #ffffff;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.UnFollowBtn:hover {
  cursor: pointer;
  background-color: aliceblue;
  color: #242a3d;
}

.UnFollowBtn:focus {
  cursor: pointer;
  background-color: #479b78;
  color: #ffffff;
  border: none !important;
}

.FollowBtn {
  border: none;
  background-color: aliceblue;
  color: #242a3d;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.FollowBtn:hover {
  cursor: pointer;
  background-color: #479b78;
  color: #ffffff;
}

.FollowBtn:focus {
  cursor: pointer;
  background-color: aliceblue;
  color: #242a3d;
  border: none !important;
}